<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>

</head>

<body>
    <!-- ==================== Create Logo ==========================-->
    <div class="logo">

        <img id="logo" src="../images/blacklogo.jpg" />
    </div>

    <!-- ================== Create The Game ============================ -->

    <!-- Create Tap Button -->
    <div class="signup">
        <p id="signup">Your Name Please!</p>
        <input id="playername" type="text" placeholder="Thunder Cat" name="signup" required>
    </div>

    <section id="game">
        <div id="tapme">
            <button id="tapmebutton" type="submit">TAP ME</button>
            <p id="message"></p>
            <!-- <span>
                <ol class="high-scores">
                </ol>
            </span> -->
        </div>

        <!-- Create Timer -->
        <div class="timer">
            <p id="timer"></p>
        </div>

        <!-- Create Scoreboard  -->
        <div class="score">
            <p id="score">0</p>
        </div>

        <!-- Create Leaderboard -->
        <div id="container">

            <div class="row">
                <div class="name"></div>
                <div class="playerscore"></div>
            </div>

            <div class="row">
                <div class="name"></div>
                <div class="playerscore"></div>
            </div>

            <div class="row">
                <div class="name"></div>
                <div class="playerscore"></div>
            </div>

            <div class="row">
                <div class="name"></div>
                <div class="playerscore"></div>
            </div>

            <div class="row">
                <div class="name"></div>
                <div class="playerscore"></div>
            </div>
        </div>
    </section>

</body>

<!-- ============================== Create Footer =============================-->
<footer id="footer">
    Created by: Trinh-Gin
</footer>
<br>
<!-- ====================================================== -->

<!-- =============================Create Contact Info ========================= -->
<div class="contact">
    <a href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin1.png"></a>
    <a href="https://github.com/Trinhgin"><img id="github" src="../images/github2.png"></a>
    <a href="https://www.google.com/gmail/"><img id="email" src="../images/mail2.png"></a>
</div>
<!-- ====================================================== -->

</html>

<!-- ============================================== JavaScript============================================ -->
<script>

    // ========= Create a Timer, remember playername, send playername and score to server with AJAX ==========

    var name = null;
    var score = 0;
    function countScore() {
        score++;
        var divData = document.getElementById("score");
        divData.innerHTML = "Your Score: (" + score + ")";
    }

    function showRemainingTime(timeRemaining) {
        document.getElementById("timer").innerHTML = timeRemaining + "s ";
    }

    function startGame() {
        name = getPlayerName();
        rememberPlayerName(name);

        var counter = 2;
        showRemainingTime(counter)

        var timer = setInterval(function () {
            console.log(counter);
            counter--
            showRemainingTime(counter)
            if (counter === 0) {
                console.log("GAME OVER!!");
                clearInterval(timer)
                $("#tapmebutton").attr("disabled", true);
                document.getElementById("message").innerHTML = "GAME OVER " + name + "!"
                sendNameAndScoreToServer();
            }
        }, 1000);
        $("#tapmebutton").off('click').click(() => {
            countScore();
        })
    }

    $("#tapmebutton").click(() => {
        startGame();
    });

    function getPlayerName() {
        var name = $("#playername").val();
        if (name == null || name == undefined || name == "") {
            name = "Unicorn";
        }
        return name;
    }

    function rememberPlayerName(nameinput) {
        Cookies.set("name", nameinput);
    }

    function showPlayerName() {
        var name = Cookies.get("name");
        $("#playername").val(name);
    }
    showPlayerName();

    function sendNameAndScoreToServer() {
        var sendNameAndScore = $.post('/', { "name": name, "score": score }, function (response) {
            if (response.Error) {
                throw error;
            } else {
                showLeaderboard(JSON.parse(response));
            }
        })
    }

    function showLeaderboard(resultArray) {
        // TODO update HTML to show the leaderboard
        let showResult = "";
        for (i = 0; i < resultArray.length; i++) {
            showResult += resultArray[i].name + " " + resultArray[i].score + " ";
        }
        $("#container").html(showResult);
    }

    // ====================== (Archived) Responsive Leaderboard=========================
    //Sort out the highest scores
    // document.addEventListener('DOMContentLoaded', () => {
    //     let elements = []
    //     let container = document.querySelector('#container')
    //     // Add each row to the array
    //     container.querySelectorAll('.row').forEach(el => elements.push(el))
    //     // Clear the container
    //     container.innerHTML = ''
    //     // Sort the array from highest to lowest
    //     elements.sort((a, b) => b.querySelector('.playerscore').textContent - a.querySelector('.playerscore').textContent)
    //     // Put the elements back into the container
    //     elements.forEach(e => container.appendChild(e))
    // })

    // ======================= Additional Tap Tricks ===================
    //The tap button will have two tricks which have 2 different values
    //First trick: randomnize the position of the tap buton & setInterval 
    // function tap() {
    //     tapButton = document.getElementById("tapme");
    //     spaceW = screen.height - picture.height;
    //     spaceH = screen.width - picture.width;

    //     setInterval(moveButton, 1000);
    // }

    // function moveButton() {
    //     picture.style.top = Math.round(Math.random() * spaceW) + "px";
    //     picture.style.left = Math.round(Math.random() * spaceH) + "px";
    // }

    //Second trick: turn the tap button to "Don't Tap" -> If tap points will be deducted

    // =========================== Create Difficulty Level of Game =======================

    // ========================== Try Again Button ===============================

</script>