<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>

</head>

<body>
    <!-- ==================== Create Logo ==========================-->

    <div id="tapme">
        <button id="tapmebutton">TAP ME</button>
        <p id="message"></p>

        <!-- Create Scoreboard  -->
    </div>

    <div id="tracking">
        <p id="score">0</p>

        <!-- Create Timer -->
        <p id="timer"></p>
    </div>

    <section id="game">
        <p id="container"></p>
    </section>
    <div class="logo">

        <img id="logo" src="../images/redlogonew.jpg" />
        <a class="contact" href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin2.png"></a>
        <a class="contact" href="https://github.com/Trinhgin"><img id="github" src="../images/github1.png"></a>
        <a class="contact" href="https://www.google.com/gmail/"><img id="email" src="../images/mail1.png"></a>
        <!-- <img id="logo" src="../images/blacklogo.jpg" /> -->

    </div>
    <!-- ================== Create The Game ============================ -->

    <!-- Create Tap Button -->
    <div class="signup">
        <p id="signup">Your Name Please!</p>
        <input id="playername" type="text" placeholder="Thunder Cat" name="signup" required>
    </div>
</body>

<!-- ============================== Create Footer =============================-->
<!-- <footer id="footer">
    Created by: Trinh-Gin
</footer>
<br> -->
<!-- ====================================================== -->

<!-- =============================Create Contact Info ========================= -->
<!-- <div class="contact">
    <a href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin1.png"></a>
    <a href="https://github.com/Trinhgin"><img id="github" src="../images/github2.png"></a>
    <a href="https://www.google.com/gmail/"><img id="email" src="../images/mail2.png"></a>
</div> -->
<!-- ====================================================== -->

</html>

<!-- ============================================== JavaScript============================================ -->
<script>

    // ========= Create a Timer, remember playername, send playername and score to server with AJAX ==========

    var name = null;
    var score = 0;
    function countScore() {
        score++;
        var divData = $("#score").html(`Your Score: ${score}`)
    }

    function showRemainingTime(timeRemaining) {
        $("#timer").html(`${timeRemaining}s`)
    }

    function startGame() {
        name = getPlayerName();
        rememberPlayerName(name);

        var moveButtonInterval = setInterval(moveButton, 1000);


        var counter = 4;
        showRemainingTime(counter)

        var timer = setInterval(function () {
            console.log(counter);
            counter--
            showRemainingTime(counter)

            if (counter === 0) {
                console.log("GAME OVER!!");

                clearInterval(moveButtonInterval)
                clearInterval(timer)

                $("#tapmebutton").attr("disabled", true);
                $("#message").html(`GAME OVER ${name}!`)

                sendNameAndScoreToServer();
            }
        }, 1000);

        countScore();
        $("#tapmebutton").off('click').click(() => {
            countScore();
        })
    }

    $("#tapmebutton").click(() => {
        startGame();
    });

    function getPlayerName() {
        var name = $("#playername").val();
        if (name == null || name == undefined || name == "") {
            name = "Thunder Cat";
        }
        return name;
    }

    function rememberPlayerName(nameinput) {
        Cookies.set("name", nameinput);
    }

    function showPlayerName() {
        var name = Cookies.get("name");
        $("#playername").val(name);
    }
    showPlayerName();

    function sendNameAndScoreToServer() {
        var sendNameAndScore = $.post('/score', { "name": name, "score": score }, function (response) {
            if (response.Error) {
                throw error;
            } else {
                console.log(response)
                showLeaderboard(response);
            }
        })
    }

    function showLeaderboard(responseArray) {
        // Show the leaderboard
        let showResult = "";
        for (i = 0; i < responseArray.length; i++) {
            let showNameAndScore = `<div class="row">
                    <span class="name">${responseArray[i].name}</span>
                    <span class="playerscore">${responseArray[i].score}</span>
                </div>
                `;
            showResult += showNameAndScore;

        }

        $("#container").html(showResult);
    }

    // ========================== Tap Tricks ================================
    //First trick: randomnize the position of the tap buton & setInterval 

    function moveButton() {
        var screen = $("#tapme")
        var button = $("#tapmebutton")
        var spaceW = screen.height() - button.height();
        var spaceH = screen.width() - button.width();
        var moveTop = Math.round(Math.random() * spaceW) + "px";
        var moveLeft = Math.round(Math.random() * spaceH) + "px";
        button.css({ top: moveTop, left: moveLeft })
        console.log(`left ${moveTop} ${moveLeft}`)
    }

    //Second trick: turn the tap button to "Don't Tap" -> If tap points will be deducted
//Button is disabled every 1 second
//If click points deduct 2pt
// create a function with if else statement 
//function disableBtn (click){
    // var disableBtn = $("#tapmebutton").click();
    //var leftoverPoint = ??
//if(disBtn !== click){
    //point is the same
// } else {
    //return leftoverBtn -= 2; 
// }
// }

</script>