<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>

</head>

<body>
    <!-- ==================== Create Logo ==========================-->
    <div class="logo">

        <img id="logo" src="../images/redlogonew.jpg" />
        <!-- <p id="contact"> Created by: Trinh-Gin</p> -->
        <a class="contact" href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin1.png"></a>
        <a class="contact" href="https://github.com/Trinhgin"><img id="github" src="../images/github2.png"></a>
        <a class="contact" href="https://www.google.com/gmail/"><img id="email" src="../images/mail2.png"></a>
        <!-- <img id="logo" src="../images/blacklogo.jpg" /> -->

    </div>

    <!-- ================== Create The Game ============================ -->

    <!-- Create Tap Button -->
    <div class="signup">
        <p id="signup">Your Name Please!</p>
        <input id="playername" type="text" placeholder="Thunder Cat" name="signup" required>
    </div>

    <section id="game">
        <div id="tapme">
            <button id="tapmebutton">TAP ME</button>
            <p id="message"></p>

        </div>

        <!-- Create Timer -->
        <div class="timer">
            <p id="timer"></p>
        </div>

        <!-- Create Scoreboard  -->
        <div class="score">
            <p id="score">0</p>
        </div>

        <!-- Create Leaderboard -->
        <!-- <div id="container"> -->
        <p id="container"></p>
        <!-- </div> -->

    </section>

</body>

<!-- ============================== Create Footer =============================-->
<!-- <footer id="footer">
    Created by: Trinh-Gin
</footer>
<br> -->
<!-- ====================================================== -->

<!-- =============================Create Contact Info ========================= -->
<!-- <div class="contact">
    <a href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin1.png"></a>
    <a href="https://github.com/Trinhgin"><img id="github" src="../images/github2.png"></a>
    <a href="https://www.google.com/gmail/"><img id="email" src="../images/mail2.png"></a>
</div> -->
<!-- ====================================================== -->

</html>

<!-- ============================================== JavaScript============================================ -->
<script>

    // ========= Create a Timer, remember playername, send playername and score to server with AJAX ==========

    var name = null;
    var score = 0;
    function countScore() {
        score++;
        var divData = document.getElementById("score");
        divData.innerHTML = "Your Score: (" + score + ")";
    }

    function showRemainingTime(timeRemaining) {
        document.getElementById("timer").innerHTML = timeRemaining + "s ";
    }

    function startGame() {
        name = getPlayerName();
        rememberPlayerName(name);

        var moveButtonInterval = setInterval(moveButton, 1500);


        var counter = 4;
        showRemainingTime(counter)

        var timer = setInterval(function () {
            console.log(counter);
            counter--
            showRemainingTime(counter)

            if (counter === 0) {
                console.log("GAME OVER!!");

                clearInterval(moveButtonInterval)
                clearInterval(timer)

                $("#tapmebutton").attr("disabled", true);
                $("#message").html(`GAME OVER ${name}!`)

                sendNameAndScoreToServer();
            }
        }, 1000);
        $("#tapmebutton").off('click').click(() => {
            countScore();
        })
    }

    $("#tapmebutton").click(() => {
        startGame();
    });

    function getPlayerName() {
        var name = $("#playername").val();
        if (name == null || name == undefined || name == "") {
            name = "Thunder Cat";
        }
        return name;
    }

    function rememberPlayerName(nameinput) {
        Cookies.set("name", nameinput);
    }

    function showPlayerName() {
        var name = Cookies.get("name");
        $("#playername").val(name);
    }
    showPlayerName();

    function sendNameAndScoreToServer() {
        var sendNameAndScore = $.post('/score', { "name": name, "score": score }, function (response) {
            if (response.Error) {
                throw error;
            } else {
                console.log(response)
                showLeaderboard(response);
            }
        })
    }

    function showLeaderboard(responseArray) {
        // Show the leaderboard
        let showResult = "";
        for (i = 0; i < responseArray.length; i++) {
            let showNameAndScore = `<div class="row">
                    <span class="name">${responseArray[i].name}</span>
                    <span class="playerscore">${responseArray[i].score}</span>
                </div>
                `;
            showResult += showNameAndScore;

        }

        $("#container").html(showResult);
    }

    // ========================== Tap Tricks ================================
    //First trick: randomnize the position of the tap buton & setInterval 
    //Button needs to be called when game starts 
    //setInterval of button trick must not override the setInterval of the main button
    //put the function randomTapButton while the tapme button is still abled

    function moveButton() {
        var screen = document.getElementById("tapme");
        var button = document.getElementById("tapmebutton");
        var spaceW = screen.clientHeight - button.clientHeight;
        var spaceH = screen.clientWidth - button.clientWidth;
        var moveTop = Math.round(Math.random() * spaceW) + "px";
        var moveLeft = Math.round(Math.random() * spaceH) + "px";
        button.style.top = moveTop;
        button.style.left = moveLeft;
    }

    //Second trick: turn the tap button to "Don't Tap" -> If tap points will be deducted
//Button is disabled every 1 second
//If click points deduct 2pt
// create a function with if else statement 
//function disableBtn (click){
    // var disableBtn = $("#tapmebutton").click();
    //var leftoverPoint = ??
//if(disBtn !== click){
    //point is the same
// } else {
    //return leftoverBtn -= 2; 
// }
// }

</script>