<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>
    <!-- <script type="text/javascript" src="/js/script.js"></script> -->

</head>

<body>

    <!-- Create TapMe Button -->
    <div id="tapme">
        <button id="tapmebutton">TAP ME</button>
        <p id="message"></p>
        <!-- Create Retry Button -->
        <button id="retry" style="display:none">Try Me Again</button>
    </div>

    <!-- Create Timer & Score-->
    <div id="tracking">
        <p id="score">0</p>
        <p id="timer"></p>
    </div>



    <!-- Create game section -->
    <section id="game">
        <p id="container"></p>


    </section>

    <!-- Create logo & Contact Info-->
    <div class="logo">
        <img id="logo" src="../images/redlogonew.jpg" />
        <a class="contact" href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin2.png"></a>
        <a class="contact" href="https://github.com/Trinhgin"><img id="github" src="../images/github1.png"></a>
        <a class="contact" href="https://www.google.com/gmail/"><img id="email" src="../images/mail1.png"></a>
    </div>

    <!-- Create Signup Area -->
    <div class="signup">
        <p id="signup">Your Name Please!</p>
        <input id="playername" type="text" placeholder="Thunder Cat" name="signup" required>
    </div>
</body>


</html>