<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/js/js.cookie.js"></script>

</head>

<body>
    <!-- ==================== Create Logo ==========================-->
    <div class="logo">

        <img id="logo" src="../images/blacklogo.jpg" />
    </div>

    <!-- ================== Create The Game ============================ -->

    <!-- Create Tap Button -->
    <div class="signup">
        <p id="signup">Your Name Please!</p>
        <input type="text" placeholder="Thunder Cat" name="signup" required>
    </div>

    <section id="game">
        <div id="tapme">
            <button id="tapmebutton" type="submit">TAP ME</button>
            <p id="message"></p>
            <!-- <span>
                <ol class="high-scores">
                </ol>
            </span> -->
        </div>

        <!-- Create Timer -->
        <div class="timer">
            <p id="timer"></p>
        </div>

        <!-- Create Scoreboard  -->
        <div class="score">
            <p id="score">0</p>
        </div>

        <!-- Create Leaderboard -->
        <div id="container">

            <div class="row">
                <div class="name">Player1</div>
                <div class="playerscore">430</div>
            </div>

            <div class="row">
                <div class="name">Player2</div>
                <div class="playerscore">580</div>
            </div>

            <div class="row">
                <div class="name">Player3</div>
                <div class="playerscore">310</div>
            </div>

            <div class="row">
                <div class="name">Player4</div>
                <div class="playerscore">640</div>
            </div>

            <div class="row">
                <div class="name">Player5</div>
                <div class="playerscore">495</div>
            </div>
        </div>
    </section>

</body>

<!-- ============================== Create Footer =============================-->
<footer id="footer">
    Created by: Trinh-Gin
</footer>
<br>
<!-- ====================================================== -->

<!-- =============================Create Contact Info ========================= -->
<div class="contact">
    <a href="https://www.linkedin.com/in/tutrinhnguyenha/"><img id="linkedin" src="../images/linkedin1.png"></a>
    <a href="https://github.com/Trinhgin"><img id="github" src="../images/github2.png"></a>
    <a href="https://www.google.com/gmail/"><img id="email" src="../images/mail2.png"></a>
</div>
<!-- ====================================================== -->

</html>

<!-- ============================================== JavaScript============================================ -->
<script>

    // ======================= Create a Timer ==========================

    var score = 0;
    function countScore() {
        score++;
        var divData = document.getElementById("score");
        divData.innerHTML = "Your Score: (" + score + ")";

    }

    function showRemainingTime(timeRemaining) {
        document.getElementById("timer").innerHTML = timeRemaining + "s ";
    }

    function startGame() {
        var counter = 10;
        showRemainingTime(counter)

        var timer = setInterval(function () {
            console.log(counter);
            counter--
            showRemainingTime(counter)
            if (counter === 0) {
                console.log("GAME OVER!!");
                clearInterval(timer)
                $("#tapmebutton").attr("disabled", true);
                document.getElementById("message").innerHTML = "GAME OVER MAN!"
            }
        }, 1000);
        $("#tapmebutton").off('click').click(() => {
            countScore();
        })
    }

    $("#tapmebutton").click(() => {
        startGame();
    });

    //====== Keep track of number of times the Tap button being clicked =========
    //Create Cookies to remember player's name

    var name = Cookies.get('name')
    console.log(Cookies.get())
    if (name !== null) {
        Cookies.set("name", name);
    } else {
        alert("Welcome again " + name);
    }


    // ======================= Responsive Tap Me Button===================

    //Define the tap button 
    //The tap button will have two tricks which have 2 different values
    //A function is created and take the 2 values as its properties
    //First trick: randomnize the position of the tap buton & setInterval 
    // function tap() {
    //     tapButton = document.getElementById("tapme");
    //     spaceW = screen.height - picture.height;
    //     spaceH = screen.width - picture.width;

    //     setInterval(moveButton, 1000);
    // }

    // function moveButton() {
    //     picture.style.top = Math.round(Math.random() * spaceW) + "px";
    //     picture.style.left = Math.round(Math.random() * spaceH) + "px";
    // }

    //Second trick: turn the tap button to "Don't Tap"

    // =========================== Create Difficulty Level of Game =======================

    // ========================== Try Again Button ===============================


    // ====================== (Archived) Responsive Leaderboard=========================
    //Sort out the highest scores
    document.addEventListener('DOMContentLoaded', () => {
        let elements = []
        let container = document.querySelector('#container')
        // Add each row to the array
        container.querySelectorAll('.row').forEach(el => elements.push(el))
        // Clear the container
        container.innerHTML = ''
        // Sort the array from highest to lowest
        elements.sort((a, b) => b.querySelector('.playerscore').textContent - a.querySelector('.playerscore').textContent)
        // Put the elements back into the container
        elements.forEach(e => container.appendChild(e))
    })



</script>